body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

canvas {
    display:block;
    background: #000321;
    position: fixed;
    z-index: -1;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
}

.left-col {
  padding-left: 20%;
}

.right-col {
  padding-right: 20%
}

.left-col h1 {
  font-family: "Comfortaa";
  font-size: 4em;
}

.left-col h2 {
  font-family: "Comfortaa";
  font-size: 2.5em;
}

.left-col h2 .name {
  color: #FFBE00;
}

.text {
  line-height: 1.5em;
}

.text a {
  color: #FFBE00;
}

